.cont-ent{
  margin-top: 20px;
}
.cont{
  padding: 5px;

}
.page-read {
font-style: italic;
font-size: 25px;
font-family: Georgia, "Lucida Bright", "DejaVu Serif", Constantia, serif;
line-height: 28px;
}
